/* .list-container {
    
} */

.informacion {
    width: 70%;
    margin: 1rem
}

.informacion p {
    color: #4b4b4bff;
    text-align: left;
}

.list-item{
    list-style: none;
    display: flex;
    text-align: center;
}

.list-item li {
    color: #4b4b4bff;
    text-align: left;
    margin: 1rem 2rem;
    width: 200px;
}

.list-item li span {

    font-weight: 600;
}
